body {
  margin: 0;
  padding: 0;
}

nav {
  height: 10vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  
}

nav h1 {
  font-family: 'Rubik', sans-serif;
  color: #3586ff;
  font-size: 65px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 40px;
}

ul li a {
  font-family: 'Rubik', sans-serif;
  width: 100%;
  height: 100%;
  color: #b8b8b8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s;
  font-size: 20px;
}

ul li a:hover {
  transform: scale(1.2);
}

nav ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

article h2,
article p,
#beneficios h1,
.sweep2 {
  font-family: 'Rubik', sans-serif;
}

article h2 {
  color: #3586ff;
  font-size: 33px;
  margin-bottom: 20px;
}

article p {
  color: #b8b8b8;
  font-size: 33px;
}

#contenedor {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
}

article {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

img {
  float: right;
  margin-right: 20px;
  height:80vh;
  width:60vw ;
}

#beneficios {
  background-image: url('fondo2.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  width: 97vw;
  margin: 0 auto;
}


#beneficios h1 {
  color: #fff;
  font-size: 40px;
  padding: 20px;
}

.sweep {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 1s, transform 0.5s;
}

.imagen {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 1s;
  height: auto;
  width: 80%;
  margin: 10% auto 0;
}

.imagen.shown {
  opacity: 1;
  transform: translateX(0);
}

#beneficios .beneficios1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
}

.paso {
  background-image: url('fondo3.png');
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  width: 97vw;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
}

.sweep2 {
  color: #fff;
  font-size: 40px;
  padding: 20px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.step {
  opacity: 0;
  width: auto;
  height: 90vh ;
  animation: slideInFromLeft 1s ease;
}

.step.shown {
  opacity: 1;
  animation: slideInFromLeft 1s ease forwards;
}

.step.shown:nth-child(2) {
  animation-duration: 1.5s;
}

.step.shown:nth-child(3) {
  animation-duration: 2s;
}

.step.shown:nth-child(4) {
  animation-duration: 2.5s;
}

.pasos {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.step:not(:last-child) {
  margin-right: -70vw;
}

.nosotros {
  height: 50vh;
  width: 100%;
}

.card-client {
  background: #002b6a;
  width: 13rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.card-client:hover {
  transform: translateY(-10px);
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid #ffff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #ffff;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  width: 1.1rem;
  fill: currentColor;
}

.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
  border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}


