body {
    background: #FFF;
    margin: 0;
}

nav {
    width: 90rem;
    height: 5.26rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #3586FF;
    font-family: Rubik;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 1rem 0 0 4.25rem;
    display: inline-block;
    vertical-align: middle;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin:1.31rem 0 0 4.28rem;
    font-family: Inter;
    gap: 3.5rem;

}

li {
    display: inline;
}

li a {
    color: #000;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin-left: 56px;
}

nav div {
    display: flex;
    width: 14.625rem;
    height: 3.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 1.18rem;
    background: #3586FF;
    margin: 1.47rem 0 0 43rem;
}

nav div h2 a {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.inicio {
    width: 81.5625rem;
    height: 48rem;
    flex-shrink: 0;
    position:realative;
}


.titulo {
    width: 47.125rem;
    height: 15.4375rem;
    margin: 8.63rem 0 0 4.25rem;
    flex-shrink: 0;
    color: #3586FF;
    font-family: Rubik;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.texto {
    width: 44.9375rem;
    color: #8F8F8A;
    font-family: Rubik;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 1.8rem 0 0 4.25rem;
}

.video {
    display: flex;
    width: 24.4375rem;
    height: 3.3125rem;
    flex-shrink: 0;
    margin: 1.87rem 0 0 4.25rem;
    align-items: center;
    width: auto;
}

.video p {
    color: #000;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 1rem;
}

.celu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 53rem;
    margin-top: -34rem;
}

.celu img {
    max-width: 100%;
    height: auto;
}

.vector1 img{
    position: absolute;
    top: 7rem;
    left: 2.34rem;
    z-index: -1;
    width: 95%;
    height: 38.0625rem;
}

.caracteristicas {
    height: 40.0625rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 10.2rem;
}

.caracteristicas h1 {
    width: 53.25rem;
    height: 9rem;
    color: #3586FF;
    font-family: Rubik;
    font-size: 3.4375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.imagenes {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 5rem ;
}

.g1,
.g2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.g1 img,
.g2 img {
    margin: 3rem ;
}

.g1 img:last-child,
.g2 img:last-child {
    margin-bottom: 0;
}

.funciona {
    height: 26.5rem;
    flex-shrink: 0;
    height: 40.0625rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 7.6rem;
}

.funciona h1 {
    color: #002B6A;
    text-align: center;
    font-family: Rubik;
    font-size: 3.4375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}

.funciona .images {
    display: flex;
    align-items: center;
}

.funciona img {
    margin-top: 1rem;
}

.funciona img[src$="Line 1.png"] {
    margin-top: -10rem;
}

.interfaces img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    margin-top: 11.4rem;
    
}

.empeza {
    width: 85rem;
    height: 32.5rem;
    flex-shrink: 0;
    border-radius: 6.125rem;
    background: #3586FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 7.7rem auto;
}

.empeza h1 {
    width: 62.6875rem;
    height: 9.6875rem;
    color: #F9F9F9;
    text-align: center;
    font-family: Rubik;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1rem;
}

.empeza h2 {
    width: 40.4375rem;
    color: #B8B8B8;
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.botones{
    display: flex;
    gap: 12rem; /* Espacio entre las imágenes */
    margin-top: 5rem;
}

.botones img {
    width: 24.5rem;
    height: 4.25rem;
    margin-bottom: 6.3rem;
}

footer {
    width: 100vw;
    height: 14.5625rem;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Agregamos posición relativa */
}

.linksfooter {
    display: flex;
    align-items: center;
}

.linksfooter h1 {
    color: #3586FF;
    font-family: Rubik;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 0 4.25rem;
    position: absolute;
    top: 1.7rem;
}

.linksfooter ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-family: Inter;
    position: absolute;
    top: 1.7rem;
    margin: 1.3rem 0 0 20rem;
}

.linksfooter li {
    display: inline;
    align-items: center;
    vertical-align: middle;
    gap: 3.5rem;
}

.linksfooter li a {
    color: #fff;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.redes {
    display: flex;
    align-items: center;
    gap: 2.25rem;
    position: absolute;
    top: 3rem;
    right: 2rem;
}

.linea svg {
    width: 97vw;
    height: auto;
    flex-shrink: 0;
    fill: #B8B8B8;
    display: flex;
    justify-content: center; /* Centramos horizontalmente */
    position: absolute;
    top: 50%; /* Alineamos a la mitad de la altura */
    left: 50%; /* Alineamos a la mitad del ancho */
    transform: translate(-50%, -50%); /* Corregimos los desplazamientos */
    margin-top: 1rem ;
}

footer p{
    color: #FFF;
    font-family: Inter;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 0;
    margin: 2.5rem 0 0 4.5rem;
}